*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(124, 124, 124);
}
main{
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.photo{
    width: calc(50% - 40px);
    height: calc((35vw - 40px) / 16 * 9);
    margin: 10px;
    background-color: rgb(94, 94, 94);
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px 1px  rgb(24, 24, 24);
}
.photo:hover{
    transform: rotate(3deg) scale(1.07);
    box-shadow: 0 0 10px 1px  rgb(24, 24, 24);
} 
h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.photo1{
    background-image: url(../img/img1.jpeg);
}
.photo3{
    background-image: url(../img/img3.jpeg);
}
.photo9{
    background-image: url(../img/img9.jpeg);
}
.photo11{
    background-image: url(../img/img11.jpg);
}